.footer {
    padding: 7px 5px;
}
.footer__container {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
}
.school__image {
    height: 35px;
}
.github:hover,
.footer__rs-school:hover {
    filter: drop-shadow(0 0 0.75rem rgb(224, 230, 230));
}
