.html-block {
    padding: 5px 0 20px;
    background: #bebaba4f;
    border-radius: 20px;
}
.html-block__code-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 25px 55px;
    margin: 5px 15px;
    gap: 15px;
    background: #e0d9d9;
}
.html-block__lines {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.html-block__markup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-hover {
    font-weight: 900;
    font-size: 1.1rem;
    transition: all ease-in-out 0.2s;
}

.item-hover {
    position: absolute;
    z-index: 5;
    filter: drop-shadow(0 0 0.75rem rgb(3, 248, 187));
}
